<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Physio Rehab Plus{% endblock %}</title>
    {% load static %}
    {% load i18n %}
</head>


<body>
<header>
    <div class="header_box">
        <div class="header_content">
            <img class="header_img" src="{% static 'logo.png' %}" alt="logo"/>
            <div class="header_text">
                <label class="header_label_one">
                    {% trans "CENTRE DE MEDECINE DU SPORT" %}
                </label>
                <label class="header_label_two">PHYSIO REHAB
                    PLUS</label>
            </div>
            <div class="language-switcher">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% for lang in LANGUAGES %}
                    {% if lang.0 != LANGUAGE_CODE %}
                        <form action="{% url 'set_language' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.get_full_path }}">
                            <input name="language" type="hidden" value="{{ lang.0 }}">
                            <button type="submit" class="language-button">
                                {{ lang.1 }}
                            </button>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>


</header>

{% block content %}
    {% include 'home.html' %}
{% endblock %}

</body>
<footer>

    <h4 class="footer_title">Contacts</h4>

    <img class="left_footer_img" src="{% static 'phone_number.png' %}"
         alt="phone_number"/>
    <h5 class="left_footer_detail">+237 69 124 6009 / 674 98 55 83</h5>

    <img class="right_footer_img" src="{% static 'whatsapp.png' %}"
         alt="whatsapp"/>
    <h5 class="right_footer_detail">+237 69 124 6009</h5>

    <img class="left_footer_img" style="top: 70px" src="{% static 'instagram.png' %}"
         alt="instagram"/>
    <h5 class="left_footer_detail" style="top: 49px">@Physio Rehab Plus</h5>

    <img class="right_footer_img" style="top: 70px" src="{% static 'facebook.png' %}"
         alt="facebook"/>
    <h5 class="right_footer_detail" style="top: 49px">@Physio Rehab Plus</h5>

    <img class="right_footer_img" style="top: 90px" src="{% static 'email.png' %}" alt="email"/>
    <h5 class="left_footer_detail" style="top: 69px">physiorehabplus237@gmailom</h5>

    <img class="left_footer_img" style="top: 90px" src="{% static 'tiktok.png' %}"
         alt="tiktok"/>
    <h5 class="right_footer_detail" style="top: 69px">@physiorehabplus237</h5>
</footer>
</html>