{% extends 'Base.html' %}
{% load i18n %}


{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <div class="consultation_box">
        <a href="{% url 'index' %}" class="back-button"> « Back </a>
        {% get_current_language as LANGUAGE_CODE %}

        <h4 class="consultation_title">
            <span>KINESITHERAPIE /</span>
            <span>PHYSIOTHERAPIE</span>
        </h4>
        <img class="consultation_img" src="{% static 'physio_therapy.JPG' %}" alt="physio therapy image">
        <label class="consultation_detail">

            {% for service in consult %}

                {% if LANGUAGE_CODE == 'en' %}
                    <p>{{ service.detail_en | safe}}</p>
                {% else %}
                    <p>{{ service.detail | safe }}</p>
                {% endif %}
            {% endfor %}

        </label>

    </div>

{% endblock %}
